
  <div fxLayout="row" fxLayoutAlign="center center">
    <span routerLink="/"><img src="assets/images/cigars/sides.png" class="logo" alt=""></span>
    <span routerLink="/"><img src="assets/images/cigars/sides.png" class="logo" alt=""></span>
    <span routerLink="/"><img src="assets/images/cigars/sides.png" class="logo" alt=""></span>
   <!-- <span routerLink="/"><img src="assets/images/logos/bi-logo-with-tagline.svg" class="logo" alt=""></span>  -->
    <span routerLink="/"><img src="assets/images/cigars/cigarLogoLabelWeb.png" class="logo" alt=""></span>
    <span routerLink="/"><img src="assets/images/cigars/sides.png" class="logo" alt=""></span>
    <span routerLink="/"><img src="assets/images/cigars/sides.png" class="logo" alt=""></span>
    <span routerLink="/"><img src="assets/images/cigars/sides.png" class="logo" alt=""></span>
  </div>
  <br>
  <ng-content></ng-content>