
  <div fxLayout="row" fxLayoutAlign="center center">
    <span routerLink="/"><img src="assets/images/cigars/sides.png" class="logo" alt=""></span>
    <span routerLink="/"><img src="assets/images/cigars/sides.png" class="logo" alt=""></span>
    <span routerLink="/"><img src="assets/images/cigars/sides.png" class="logo" alt=""></span>
    <span routerLink="/"><img src="assets/images/cigars/cigarLogoLabelWeb.png" class="logo" alt=""></span>
    <span routerLink="/"><img src="assets/images/cigars/sides.png" class="logo" alt=""></span>
    <span routerLink="/"><img src="assets/images/cigars/sides.png" class="logo" alt=""></span>
    <span routerLink="/"><img src="assets/images/cigars/sides.png" class="logo" alt=""></span>
  </div>
  <ng-content></ng-content>