<div fxLayout="row" class="mat-elevation-z8 animated rubberBand" fxLayoutAlign="center center" (valueChange)="playCashRegister($event)"
  style="background-color: black;" *ngIf="islogoWooble">
  <span routerLink="/detail"><img src="assets/images/cigars/cigarTotalLabel.png" class="logo " alt="Absolute"></span>

</div>

<div fxLayoutAlign="center center" style="background-image: url('assets/images/cigars/bg1.jpg');
background-size: 275px;
place-content: center;
align-items: center;
flex-direction: row;
box-sizing: border-box;
display: flex;
background-repeat: repeat;">
  <ngb-carousel *ngIf="images && !(isHandset$ | async)">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <!-- <h3>First slide label</h3> -->
        <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <!-- <h3>Second slide label</h3> -->
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <!-- <h3>Third slide label</h3> -->
        <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
      </div>
    </ng-template>
  </ngb-carousel>

</div>
<br>
<ng-content ></ng-content>


