
@font-face {
    font-family: hackerfont;
    src: url("src/assets/fonts/hackers.ttf") format("truetype");
}
@font-face {
    font-family: caviar;
    src: url("src/assets/fonts/CaviarDreams_Italic.ttf") format("truetype");
}