<section class="gallery-area ptb-100">
    <div class="row m-0">
        <div class="col-12 p-0">
            <div class="single-image"><img alt="gallery" src="assets/images/gallery1.jpg"><a class="popup-btn"
                    href="assets/images/gallery1.jpg"><i class="icofont-plus"></i></a></div>
        </div>
        <div class="col-12 p-0">
            <div class="single-image"><img alt="gallery" src="assets/images/gallery2.jpg"><a class="popup-btn"
                    href="assets/images/gallery2.jpg"><i class="icofont-plus"></i></a></div>
        </div>
        <div class="col-12 p-0">
            <div class="single-image"><img alt="gallery" src="assets/images/gallery3.jpg"><a class="popup-btn"
                    href="assets/images/gallery3.jpg"><i class="icofont-plus"></i></a></div>
        </div>
        <div class="col-12 p-0">
            <div class="single-image"><img alt="gallery" src="assets/images/gallery4.jpg"><a class="popup-btn"
                    href="assets/images/gallery4.jpg"><i class="icofont-plus"></i></a></div>
        </div>
        <div class="col-12 p-0">
            <div class="single-image"><img alt="gallery" src="assets/images/gallery5.jpg"><a class="popup-btn"
                    href="assets/images/gallery5.jpg"><i class="icofont-plus"></i></a></div>
        </div>
        <div class="col-12 p-0">
            <div class="single-image"><img alt="gallery" src="assets/images/gallery6.jpg"><a class="popup-btn"
                    href="assets/images/gallery6.jpg"><i class="icofont-plus"></i></a></div>
        </div>
        <div class="col-12 p-0">
            <div class="single-image"><img alt="gallery" src="assets/images/gallery7.jpg"><a class="popup-btn"
                    href="assets/images/gallery7.jpg"><i class="icofont-plus"></i></a></div>
        </div>
        <div class="col-12 p-0">
            <div class="single-image"><img alt="gallery" src="assets/images/gallery8.jpg"><a class="popup-btn"
                    href="assets/images/gallery8.jpg"><i class="icofont-plus"></i></a></div>
        </div>
        <div class="col-12 p-0">
            <div class="single-image"><img alt="gallery" src="assets/images/gallery1.jpg"><a class="popup-btn"
                    href="assets/images/gallery1.jpg"><i class="icofont-plus"></i></a></div>
        </div>
        <div class="col-12 p-0">
            <div class="single-image"><img alt="gallery" src="assets/images/gallery2.jpg"><a class="popup-btn"
                    href="assets/images/gallery2.jpg"><i class="icofont-plus"></i></a></div>
        </div>
        <div class="col-12 p-0">
            <div class="single-image"><img alt="gallery" src="assets/images/gallery3.jpg"><a class="popup-btn"
                    href="assets/images/gallery3.jpg"><i class="icofont-plus"></i></a></div>
        </div>
        <div class="col-12 p-0">
            <div class="single-image"><img alt="gallery" src="assets/images/gallery4.jpg"><a class="popup-btn"
                    href="assets/images/gallery4.jpg"><i class="icofont-plus"></i></a></div>
        </div>
        <div class="col-12 p-0">
            <div class="single-image"><img alt="gallery" src="assets/images/gallery5.jpg"><a class="popup-btn"
                    href="assets/images/gallery5.jpg"><i class="icofont-plus"></i></a></div>
        </div>
        <div class="col-12 p-0">
            <div class="single-image"><img alt="gallery" src="assets/images/gallery6.jpg"><a class="popup-btn"
                    href="assets/images/gallery6.jpg"><i class="icofont-plus"></i></a></div>
        </div>
        <div class="col-12 p-0">
            <div class="single-image"><img alt="gallery" src="assets/images/gallery7.jpg"><a class="popup-btn"
                    href="assets/images/gallery7.jpg"><i class="icofont-plus"></i></a></div>
        </div>
        <div class="col-12 p-0">
            <div class="single-image"><img alt="gallery" src="assets/images/gallery8.jpg"><a class="popup-btn"
                    href="assets/images/gallery8.jpg"><i class="icofont-plus"></i></a></div>
        </div>
    </div>
</section>