<div class="container">   
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 mb-4" fxLayoutGap="40px"
                    *ngFor="let product of productList | async ; let i = index ">
                    <div class="card">
                        <h5 class="card-header">
                            <h6 style="font-family: caviar;padding-top: 10px; font-size: 23px;">
                                <strong>{{product.name}}</strong>
                            </h6>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <p class="card-text" style="font-family: caviar; font-size: small;">
                                    <strong>{{product.smallDescription || "name subcateory"}}</strong></p>
                                <img class="mat-elevation-z4" mat-card-image src="assets/images/cigars/601_0_t.png"
                                    (click)="openDialog(product, i)"
                                    style="width: 300px; border-radius: 25px;border-top-right-radius: 25px;   padding-top: 0px;"
                                    alt="product.name">

                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-4">
                                    <button class="mat-elevation-z4" mat-icon-button color="warn"
                                        style="outline: none;">

                                        <mat-icon class="box animated tada "
                                            style="font-size: 26px; animation-timing-function: ease-in;"
                                            (click)="playAudio('heart', product); " *ngIf="!product.like">
                                            favorite_border</mat-icon>
                                        <mat-icon class="box animated  flip" style="font-size: 26px;"
                                            (click)="playAudio('heart', product)" *ngIf="product.like">favorite
                                        </mat-icon>
                                    </button>
                                </div>
                                <div class="col-4">
                                    <button style="outline: none;" isRoundButton="true" mat-icon-button>
                                <div [ngClass]="(product.badgeNumber <= 100) ? 'css-class-1' : 'css-class-2'"
                                    class="rounded-circle mat-elevation-z4 box rotate" *ngIf="product.badgeNumber!==0"
                                    style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                                background-color: black; outline: none;font-family: hackers;
                                color: white;border: 2px solid goldenrod;" (click)="playAudio('shopping', product);">
                                    {{product.badgeNumber}}</div>
                                <button class="mat-elevation-z4" *ngIf="product.badgeNumber===0" mat-icon-button
                                    color="black"
                                    style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; outline: none;text-align: center;">
                                    <mat-icon style="font-size: 24px;" (click)="playAudio('shopping', product);">
                                        add_circle</mat-icon>
                                </button>
                            </button>
                                </div>
                                <div class="col-4">
                                    <button mat-icon-button [disabled]="(product.badgeNumber <= 0)" style=" outline: none;font-family: hackers;font-size: 55px;
                                padding-top: 2px;" class="mat-elevation-z4" (click)="playAudio('remove', product, i);">
                                -
                            </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</div>