<div style="border-radius: 42px;
background: linear-gradient(315deg, #d6e6d1, #fffff8);
box-shadow:  -16px -16px 31px #98a394, 
             16px 16px 31px #ffffff;">
<app-shell >
    <router-outlet style="border-radius: 42px;
    background: linear-gradient(315deg, #d6e6d1, #fffff8);
    box-shadow:  -16px -16px 31px #98a394, 
                 16px 16px 31px #ffffff;">
    </router-outlet>
</app-shell>
<!-- <app-shell>
    <div [@routeAnimations]="prepareRoute(outlet)" >
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
</app-shell> -->
</div>