<!-- 
<header fxLayout="column" style="background-color: black;">

</header> -->

<!-- <div  fxFlexOffset="10px" fxLayout="row wrap-reverse" fxLayout.gt-sm="column" fx fxLayoutGap="10px" fxFlex="100%" fxFlex.gt-sm="100%" fxLayoutAlign="space-between center">  -->


<!-- 
<div class="container-fluid">
    <div class="row" *ngFor="let product of products ">
        <div class="col-sm py-1">
            <mat-card fxLayoutAlign="center center"> {{product.priority}}</mat-card>
        </div>


        
    </div> -->
<!-- <div class="container-fluid">
    <div class="row" fxLayoutAlign="center center" >
        <div style="background-color: blueviolet;" class="container-sm">100% wide until small breakpoint</div>
        <div style="background-color: red;"  class="container-md">100% wide until medium breakpoint</div>
        <div style="background-color: green;"  class="container-lg">100% wide until large breakpoint</div>
        <div style="background-color: greenyellow;"  class="container-xl">100% wide until extra large breakpoint</div>
    </div> -->

<div class="container-fluid">
    <div class="row">

        <!-- REPEAT -->
        <div class="col-md-4" *ngFor="let product of products; let i = index " fxLayoutAlign="center center"
            style="background-color: white;">

            <!-- CELL -->
            <mat-card class="example-card bd-highlight py-5 px-5" style="border: solid green 2px;overflow: hidden;" >
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title style="font-family: caviar;"><strong>{{product.name}}</strong></mat-card-title>
                    <mat-card-subtitle><strong>{{product.smallDescription}}</strong></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/images/cigars/601_{{i%3}}.png" style="
                width: 710px;
                margin-left: -408.1px;" alt="product.name">
                <div class="h1 p-6"></div>


                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> <strong style="font-family: hackers;">more...</strong>

                            </mat-panel-title>
                            <mat-panel-description>
                                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        {{product.description}}
                    </mat-expansion-panel>

                </mat-accordion>
                <mat-card-actions fxLayoutAlign="end endI">
                    <button mat-button style="font-family: hackerfont;">   
                        <mat-icon color="mat-red">favorite_border</mat-icon>
                    </button>
                    <button mat-button style="font-family: hackerfont;">   
                        <mat-icon color="accent">shopping_basket</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
            <div style="background-color: blueviolet;">{{product.priority}}</div>
        </div>
    </div>
</div>