
// @font-face {
//     font-family: lato;
//     src: url(assets/font/Lato.otf) format("opentype");
//   }

header {
    text-align: center;
}
.card-cv {
    // text-align: center;
    height: 100px;
}
.mat-card-header-text {
    /* margin: 0 16px; */
   
}
.mat-card {
    /* margin: 0 16px; */
    width: 449px;
}